<section class="top_cards_section my-5 py-4">

    <div class="mb-5">
        <p class="h1 text-start mb-0">Top Selling Products</p>
        <div class="brand-separator brand-separator mb-3"></div>
    </div>
    <div class="container mt-4">
        <!-- cards row 1 -->
        <div class="row bs-gutter-x-0 sorting_divs my-4">
            <div class="col-4 col-md-3 col-lg-2 pro_row_col p-2">
                <a href="#" class="text-decoration-none shadow rounded-10">
                    <div class="rounded-10 px-sm-0 px-md-2">
                        <!-- <div class="product-img m-auto">
                                                <img class="img-fluid w-100 p-2" src="<%= process.env.ITEM_IMG_200 %><%= product.item.image_url %>" alt="<%=product.name%>">
                                            </div> -->
                        <div class="product-img m-auto">
                            <img class="img-fluid w-100 p-2 lazyload" src="img/cerelac.webp" alt="store_product">
                        </div>
                        <div class="text-black mb-0 suggest_pro_price h4" style="font-weight: 600;">£10</div>
                        <h3 class="suggest_pro_name mb-0 h6 lh-1 text-body">Nestle Cerelac Fruit full Powde</h3>
                        <p class="suggest_pro_weight text-black-50 text-lowercase fontsize-15 line-height-1_5 mb-1">100g
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-4 col-md-3 col-lg-2 pro_row_col p-2">
                <a href="#" class="text-decoration-none shadow rounded-10">
                    <div class="rounded-10 px-sm-0 px-md-2">
                        <!-- <div class="product-img m-auto">
                                                <img class="img-fluid w-100 p-2" src="<%= process.env.ITEM_IMG_200 %><%= product.item.image_url %>" alt="<%=product.name%>">
                                            </div> -->
                        <div class="product-img m-auto">
                            <img class="img-fluid w-100 p-2 lazyload" src="img/oats.webp" alt="store_product">
                        </div>
                        <div class="text-black mb-0 suggest_pro_price h4" style="font-weight: 600;">£10</div>
                        <h3 class="suggest_pro_name mb-0 h6 lh-1 text-body">Nestle Cerelac Fruit full Powde</h3>
                        <p class="suggest_pro_weight text-black-50 text-lowercase fontsize-15 line-height-1_5 mb-1">100g
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-4 col-md-3 col-lg-2 pro_row_col p-2">
                <a href="#" class="text-decoration-none shadow rounded-10">
                    <div class="rounded-10 px-sm-0 px-md-2">
                        <!-- <div class="product-img m-auto">
                                                <img class="img-fluid w-100 p-2" src="<%= process.env.ITEM_IMG_200 %><%= product.item.image_url %>" alt="<%=product.name%>">
                                            </div> -->
                        <div class="product-img m-auto">
                            <img class="img-fluid w-100 p-2 lazyload" src="img/cerelac_fruit.webp" alt="store_product">
                        </div>
                        <div class="text-black mb-0 suggest_pro_price h4" style="font-weight: 600;">£10</div>
                        <h3 class="suggest_pro_name mb-0 h6 lh-1 text-body">Nestle Cerelac Fruit full Powde</h3>
                        <p class="suggest_pro_weight text-black-50 text-lowercase fontsize-15 line-height-1_5 mb-1">100g
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-4 col-md-3 col-lg-2 pro_row_col p-2">
                <a href="#" class="text-decoration-none shadow rounded-10">
                    <div class="rounded-10 px-sm-0 px-md-2">
                        <!-- <div class="product-img m-auto">
                                                <img class="img-fluid w-100 p-2" src="<%= process.env.ITEM_IMG_200 %><%= product.item.image_url %>" alt="<%=product.name%>">
                                            </div> -->
                        <div class="product-img m-auto">
                            <img class="img-fluid w-100 p-2 lazyload" src="img/heinz_beans.webp" alt="store_product">
                        </div>
                        <div class="text-black mb-0 suggest_pro_price h4" style="font-weight: 600;">£10</div>
                        <h3 class="suggest_pro_name mb-0 h6 lh-1 text-body">Nestle Cerelac Fruit full Powde</h3>
                        <p class="suggest_pro_weight text-black-50 text-lowercase fontsize-15 line-height-1_5 mb-1">100g
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-4 col-md-3 col-lg-2 pro_row_col p-2">
                <a href="#" class="text-decoration-none shadow rounded-10">
                    <div class="rounded-10 px-sm-0 px-md-2">
                        <!-- <div class="product-img m-auto">
                                                <img class="img-fluid w-100 p-2" src="<%= process.env.ITEM_IMG_200 %><%= product.item.image_url %>" alt="<%=product.name%>">
                                            </div> -->
                        <div class="product-img m-auto">
                            <img class="img-fluid w-100 p-2 lazyload" src="img/green_gaint.webp" alt="store_product">
                        </div>
                        <div class="text-black mb-0 suggest_pro_price h4" style="font-weight: 600;">£10</div>
                        <h3 class="suggest_pro_name mb-0 h6 lh-1 text-body">Nestle Cerelac Fruit full Powde</h3>
                        <p class="suggest_pro_weight text-black-50 text-lowercase fontsize-15 line-height-1_5 mb-1">100g
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-4 col-md-3 col-lg-2 pro_row_col p-2">
                <a href="#" class="text-decoration-none shadow rounded-10">
                    <div class="rounded-10 px-sm-0 px-md-2">
                        <!-- <div class="product-img m-auto">
                                                <img class="img-fluid w-100 p-2" src="<%= process.env.ITEM_IMG_200 %><%= product.item.image_url %>" alt="<%=product.name%>">
                                            </div> -->
                        <div class="product-img m-auto">
                            <img class="img-fluid w-100 p-2 lazyload" src="img/tinned.webp" alt="store_product">
                        </div>
                        <div class="text-black mb-0 suggest_pro_price h4" style="font-weight: 600;">£10</div>
                        <h3 class="suggest_pro_name mb-0 h6 lh-1 text-body">Nestle Cerelac Fruit full Powde</h3>
                        <p class="suggest_pro_weight text-black-50 text-lowercase fontsize-15 line-height-1_5 mb-1">100g
                        </p>
                    </div>
                </a>
            </div>

        </div>

        <div class="row bs-gutter-x-0 sorting_divs my-4">
            <div class="col-4 col-md-3 col-lg-2 pro_row_col p-2">
                <a href="#" class="text-decoration-none shadow rounded-10">
                    <div class="rounded-10 px-sm-0 px-md-2">
                        <!-- <div class="product-img m-auto">
                                            <img class="img-fluid w-100 p-2" src="<%= process.env.ITEM_IMG_200 %><%= product.item.image_url %>" alt="<%=product.name%>">
                                        </div> -->
                        <div class="product-img m-auto">
                            <img class="img-fluid w-100 p-2 lazyload" src="img/cerelac.webp" alt="store_product">
                        </div>
                        <div class="text-black mb-0 suggest_pro_price h4" style="font-weight: 600;">£10</div>
                        <h3 class="suggest_pro_name mb-0 h6 lh-1 text-body">Nestle Cerelac Fruit full Powde</h3>
                        <p class="suggest_pro_weight text-black-50 text-lowercase fontsize-15 line-height-1_5 mb-1">100g
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-4 col-md-3 col-lg-2 pro_row_col p-2">
                <a href="#" class="text-decoration-none shadow rounded-10">
                    <div class="rounded-10 px-sm-0 px-md-2">
                        <!-- <div class="product-img m-auto">
                                            <img class="img-fluid w-100 p-2" src="<%= process.env.ITEM_IMG_200 %><%= product.item.image_url %>" alt="<%=product.name%>">
                                        </div> -->
                        <div class="product-img m-auto">
                            <img class="img-fluid w-100 p-2 lazyload" src="img/oats.webp" alt="store_product">
                        </div>
                        <div class="text-black mb-0 suggest_pro_price h4" style="font-weight: 600;">£10</div>
                        <h3 class="suggest_pro_name mb-0 h6 lh-1 text-body">Nestle Cerelac Fruit full Powde</h3>
                        <p class="suggest_pro_weight text-black-50 text-lowercase fontsize-15 line-height-1_5 mb-1">100g
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-4 col-md-3 col-lg-2 pro_row_col p-2">
                <a href="#" class="text-decoration-none shadow rounded-10">
                    <div class="rounded-10 px-sm-0 px-md-2">
                        <!-- <div class="product-img m-auto">
                                            <img class="img-fluid w-100 p-2" src="<%= process.env.ITEM_IMG_200 %><%= product.item.image_url %>" alt="<%=product.name%>">
                                        </div> -->
                        <div class="product-img m-auto">
                            <img class="img-fluid w-100 p-2 lazyload" src="img/cerelac_fruit.webp" alt="store_product">
                        </div>
                        <div class="text-black mb-0 suggest_pro_price h4" style="font-weight: 600;">£10</div>
                        <h3 class="suggest_pro_name mb-0 h6 lh-1 text-body">Nestle Cerelac Fruit full Powde</h3>
                        <p class="suggest_pro_weight text-black-50 text-lowercase fontsize-15 line-height-1_5 mb-1">100g
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-4 col-md-3 col-lg-2 pro_row_col p-2">
                <a href="#" class="text-decoration-none shadow rounded-10">
                    <div class="rounded-10 px-sm-0 px-md-2">
                        <!-- <div class="product-img m-auto">
                                            <img class="img-fluid w-100 p-2" src="<%= process.env.ITEM_IMG_200 %><%= product.item.image_url %>" alt="<%=product.name%>">
                                        </div> -->
                        <div class="product-img m-auto">
                            <img class="img-fluid w-100 p-2 lazyload" src="img/heinz_beans.webp" alt="store_product">
                        </div>
                        <div class="text-black mb-0 suggest_pro_price h4" style="font-weight: 600;">£10</div>
                        <h3 class="suggest_pro_name mb-0 h6 lh-1 text-body">Nestle Cerelac Fruit full Powde</h3>
                        <p class="suggest_pro_weight text-black-50 text-lowercase fontsize-15 line-height-1_5 mb-1">100g
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-4 col-md-3 col-lg-2 pro_row_col p-2">
                <a href="#" class="text-decoration-none shadow rounded-10">
                    <div class="rounded-10 px-sm-0 px-md-2">
                        <!-- <div class="product-img m-auto">
                                            <img class="img-fluid w-100 p-2" src="<%= process.env.ITEM_IMG_200 %><%= product.item.image_url %>" alt="<%=product.name%>">
                                        </div> -->
                        <div class="product-img m-auto">
                            <img class="img-fluid w-100 p-2 lazyload" src="img/green_gaint.webp" alt="store_product">
                        </div>
                        <div class="text-black mb-0 suggest_pro_price h4" style="font-weight: 600;">£10</div>
                        <h3 class="suggest_pro_name mb-0 h6 lh-1 text-body">Nestle Cerelac Fruit full Powde</h3>
                        <p class="suggest_pro_weight text-black-50 text-lowercase fontsize-15 line-height-1_5 mb-1">100g
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-4 col-md-3 col-lg-2 pro_row_col p-2">
                <a href="#" class="text-decoration-none shadow rounded-10">
                    <div class="rounded-10 px-sm-0 px-md-2">
                        <!-- <div class="product-img m-auto">
                                            <img class="img-fluid w-100 p-2" src="<%= process.env.ITEM_IMG_200 %><%= product.item.image_url %>" alt="<%=product.name%>">
                                        </div> -->
                        <div class="product-img m-auto">
                            <img class="img-fluid w-100 p-2 lazyload" src="img/tinned.webp" alt="store_product">
                        </div>
                        <div class="text-black mb-0 suggest_pro_price h4" style="font-weight: 600;">£10</div>
                        <h3 class="suggest_pro_name mb-0 h6 lh-1 text-body">Nestle Cerelac Fruit full Powde</h3>
                        <p class="suggest_pro_weight text-black-50 text-lowercase fontsize-15 line-height-1_5 mb-1">100g
                        </p>
                    </div>
                </a>
            </div>

        </div>

    </div>
</section>


<!-- =========================================
==============================================-->

<section class="header_slider_section my-4">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner slider_image_parent">
            <div class="carousel-item active">
                <img src="img/slider_banner_1.webp" class="img-fluid d-block hstack" alt="slider-images">
            </div>
            <div class="carousel-item slider_image_parent">
                <img src="img/slider_2.webp" class="img-fluid d-block" alt="slider-images">
            </div>
            <div class="carousel-item slider_image_parent">
                <img src="img/slider_3.webp" class="img-fluid d-block" alt="slider-images">
            </div>
        </div>
    </div>
</section>


<!-- =========================================
==============================================-->


<div class="my-4">

    <div class="row m-0 partners_text">

        <div class="col-lg-6 col-md-10 col-sm-12 col-12 py-4">
            <h3>Partner With Us</h3>
            <p class="text-justify">
                Join Trolleymate now, reach more customers and get more orders from al over the United
                Kingdom. Trolleymate handles the delivery, so you can focus on your Store.
            </p>
            <div class="store_signup_button_parent text-start my-4 ">
                <button class="store_signup_button border-0 px-4 py-2 rounded-pill">Resgister Your
                    Store</button>
            </div>
        </div>
        <div class="col-lg-6 col-md-10 col-sm-12 col-12" style="height: 250px; min-width: 280;">
            <div class="partner_app_links">
                <div class="text-center"><a href="https://play.google.com/" target="_blank"><img
                            src="img/app_store.webp" alt="" class="img-fluid download_app_store"></a></div>
                <div class="text-center"><a href="https://www.apple.com/app-store/" target="_blank"><img
                            src="img/google_play.webp" alt="" class="img-fluid download_google_play"></a>
                </div>
            </div>
        </div>

    </div>
</div>